@font-face {
    font-family: "Helvetica Neue";
    src: url('/assets/fonts/helvetica-neue-bold.ttf');
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url('/assets/fonts/helvetica-neue-light.otf');
}

@font-face {
    font-family: "Yu Gothic Semilight";
    src: url('/assets/fonts/Yu\ Gothic\ UI\ -\ Semilight.ttf');
}
@font-face {
    font-family: "HelveticaNeue Medium";
    src: url('/assets/fonts/HelveticaNeue Medium.ttf');
}

@font-face {
    font-family: "Yu Gothic Light";
    src: url('/assets/fonts/yugothil.ttf');
}

@font-face {
    font-family: "Kozuka Gothic Pr6N";
    src: url('/assets/fonts/KozGoPr6NRegular.otf');
}

@font-face {
    font-family: 'SofiaProBlackCondensed';
    src: url('/assets/fonts/SofiaProBlackCondensed.ttf');
}