@import '../utilities/mixin';
@import '../utilities/variables';
@import '../utilities/fonts_face';
@include reset-css;


html {
    font-size: 62.5%;
    margin: auto !important;
}

body {
    margin: auto !important;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding-left: 57px;
    padding-right: 65px;

    .header__navigation {
        position: relative;
        left: 444px;
        ul {
            display: flex;
            list-style: none;
            gap: 32.5px;
            text-transform: uppercase;

            li {
                font-size: 16px;
                font-family: 'Helvetica Neue Light';
                a {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }
}

.name{
    margin-bottom: 80.8px;
    font-family: "Helvetica Neue";
    color: #13223D;
    display: flex;
    #name{
        font-size: 63px;
        font-weight: 600;
        margin-left: 119.1px;
        margin-right:34.8px ;
        margin-top: 141.7px;
    }
    div{
        font-size: 24px;
        margin-top: 182.6px;
    }
}

.orangeline{
    height: 30.32px;
    width: 700.86px;
    top: 234.4px;
    background-color: $base-orange-color;
    position:relative;
    left: 0px;
    z-index: -1;
}

section{
    padding-left: 191.3px ;
    color: $base-dark-blue;
    #name2{
        margin-bottom: 35.5px; 
        margin-left: 0.5px; 
        font-size: 24px;
    }
    .col {
        margin-bottom: 114.4px;        
        img{
        width: 455.82px;
        height: 350.07px;
        margin-bottom: 9px;
        }
        h2{
            font-weight: 350;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 8.5px;
            letter-spacing: 5px;
        }
        hr{
            width: 66.95px;
            height: 0.09px;
            background-color: $base-dark-blue ;
            border: none;
        }
        p{
            font-size: 19px;
            line-height: 29px;
            margin-top: 19.4px;
        }
    }
}


.pagination{
    font-size: 25px;
    justify-content: center;    
    margin-right: 290px;
    .page-link{
        border: none ; 
    }
    li{
        margin-left: 43px;
        width:50.69px ;
    }
    a{
        color: $base-dark-blue  ;
    }
    .ip__icon {
        width: 50.69px;
        height: 50.69px;
        top: -5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-dark-blue;
        border-radius: 50%;

        svg {
            width: 16.68px;
            height: 22.546px;
            filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(298deg) brightness(108%) contrast(101%);
        }
    }
}

.moveup{
    display: flex;
    justify-content: flex-end;
        .ip__icon {
        width: 38.62px;
        height: 38.62px;
        top: -5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-dark-blue;
        border-radius: 50%;
        margin-right: 70px;
        margin-bottom: 31.6px;
        margin-top: 141.7px;


        svg {
            transform: rotate(270deg);
            width: 10.68px;
            height: 15.546px;
            filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(298deg) brightness(108%) contrast(101%);
        }
    }
}
footer {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #13223D;
    border-bottom: 1px solid #13223D;
    font-size: 17px ;
    width: 1300.64px;
    margin-left: 89px;
    .main__header  {
        padding-left: 1rem;
    
        .header__navigation {
            left: 0;
        }
    }

}

.end{
    margin-left: 85px;
    margin-top: 47.6px;
    margin-bottom: 49.4px;
    p{
        margin-left: 66px;
        font-size: 16px;
    }
    a{
        margin-left: 66px;
        font-size: 63px; 
        line-height: 40px; 
        font-weight: 600; 
        border-bottom: 1px solid #13223D;
    }
    .foottag {
        li{
            color: $white;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $base-dark-blue;
            border-radius: 50%;
            width: 92.6px;
            height:92.6px;
            margin-left: 37.1px;
        }
    }
}


  .nav-burger {
    margin-top: 20px;
}

aside {
    z-index: 11;
}

.aside-section {
    top: 0;
    bottom: 0;
    position: absolute;
  }
  
  .aside-left {
    display: none;
    width: 53%;
    height: 100vh;
    left: 0;
    position: fixed;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    background-image: url('../../../assets/creative.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .aside-content {
      width: 65%;
      top: 168px;

      h1 {
        font-size: 50px;
        font-family: "SofiaProBlackCondensed";
        color: $white;
        display: flex;
        flex-direction: column;
        letter-spacing: 54px;
        
        .new {
          margin-right: 235px;
        }
        .natural {
          margin-left: 112px;
        }

        span:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  
  .aside-right {
    display: flex;
    justify-content: center;
    gap: 75px;
    width: 47%;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: $white;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    ul {
        margin-bottom: 10px;
        li {
            font-family: "SofiaProBlackCondensed";
            text-transform: uppercase;
        }
    }

    .col-right  {
        display: flex;
        flex-direction: column;

        .footer {
          width: 100%;
          position: absolute;
          bottom: 0;
          right: 42px;

          .end {
            margin-bottom: 49.4px;
          }

          .footer__company__name {
            align-self: center;
            p {
              font-weight: 500;
              color: #909090;
              font-size: 1rem;
              line-height: 1;
              text-transform: uppercase;
            }
          }
        }
    }
  }
  
  .aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 150px;
    text-align: left;
    padding-left: 50px;

        li a {
            color: $black !important;
        }
  }
  
  .aside-content {
    margin-top: 150px;
    padding: 0 40px;
    position: relative;
    color: white;
    text-align: center;

    img {
        position: absolute;
        left: 37px;
        bottom: 132px;
    }
  }
  
  .aside-list li {
    margin-bottom: 20px;
  }
  
  .aside-anchor::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: $white;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
  }
  
  .aside-anchor::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    left: 0;
    height: 3px;
    z-index: 1;
    width: 50%;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  
  .aside-anchor:hover:before {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  .aside-anchor {
    padding-bottom: 7px;
    color: $base-dark-blue;
    text-decoration: none;
    font-size: 50px;
    position: relative;
    font-weight: 500;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ aside .aside-left {
    transform: translateY(0%);
  }
  
  input[type="checkbox"]:checked ~ aside .aside-right {
    transform: translateX(0%);
  }
  
  input[type="checkbox"]:checked ~ label .bar {
    background-color: #38618c;
  }
  
  input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }
  
  input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  
  .middle {
    margin: 0 auto;
  }
  
  label {
    top: 10px;
    right: 0;
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 12;
    position: fixed;
  }
  
  .bar {
    display: block;
    background-color: #38618c;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color 0.4s ease-in, transform 0.4s ease-in,
      width 0.4s ease-in;
  }
  
  
  p {
    font-size: 30px;
  }
  
  .button {
    display: inline-block;
    background-image: none;
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 7px 50px;
    border: 2px solid white;
  }
  
  @media (min-width: 992px) {
    h1 {
      font-size: 40px;
    }
    .aside-left {
      display: block;
    }
  
    .aside-right {
      width: 60%;
    }
  }


.aside-list > li:hover {
      animation: bounce; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s;
      animation-iteration-count: infinite;
}

.no__display__big {
    display: none;
}

@media screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) {

    footer {
        width: 100%;
        justify-content: unset;
        margin-left: unset;
    }

    .no__display__big {
        display: list-item;
    }
    
    footer > .main__header > .header__navigation {
        display: block;
    }
    
    footer .main__header {
        height: unset;
    }
    
    .main__header .header__navigation ul {
        display: grid;
        gap: unset;
        grid-template-columns: 1fr 1fr;
        row-gap: 52px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .end {
        flex-direction: column;
        margin-left: unset;
        gap: 20px;
    }
    
    .end p {
        margin-left: 17px;
        margin-bottom: 62px;
    }
    
    .end a {
        margin-left: 17px;
    }
    
    .foottag {
        margin-top: 35px;
    }
    
    .footer__company__name {
        p {
            display: none;
        }
    }
    
    .nav-burger-foottag {
        display: none;
    }

    nav.header__navigation {
        display: none;
    }

    aside .aside-right {
        width: 100vh;
    }

    section {
        padding: unset;
    }

    .orangeline {
        width: 97%;
    }

    .container {

        .row-cols-2 {
        flex-direction: column;

        .col {
            width: 100%;
        }
        }
    } 

    .name #name {
        margin-left: unset;
    }
        
    section .col img {
        display: block;
        width: 85%;
        height: unset;
        margin: 0 auto;
    }

    section .col h2 {
        margin-left: 22px;
        font-weight: bold;
    }

    section .col hr {
        margin-left: 22px;
        height: 2.09px;
    }

    section .col p {
        margin-left: 22px;
        font-weight: 600;
    }

    section #name2 {
        margin-left: 22px;
        font-weight: bold;
    }

    .pagination {
        padding-right: 80px;
        margin-right: unset;
    }
    .pagination li {
        margin-left: unset;
    }

    .nav-burger-foottag {
        display: none;
    }

    .aside-right .col-right {
        opacity: 0;
    }
}
