@import './utilities/mixin';
@import './utilities/variables';
@import './utilities/fonts_face';
@include reset-css;


html {
    scroll-behavior: smooth;
}

main {
    height: 100%;
    position: relative;
}
#container {
    position: absolute;
    top: 0 ;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding-left: 57px;
    padding-right: 65px;

    .header__navigation {
        position: relative;
        left: 444px;
        ul {
            display: flex;
            list-style: none;
            gap: 32.5px;
            text-transform: uppercase;

            li {
                font-family: 'Helvetica Neue Light';
                a {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }
}

.company__introductory {
    padding-top: 189.4px;
    height: 190vh;
    overflow: hidden;
    & > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .company__name--overlay {
    width: 100%;
    height: 100vh;

    }
    .company__name {
        z-index: 10;
        gap: 50px;
        position: relative;
        transform: translateY(-215%);
        text-align: center;

        h1 {
            font-size: 155px;
            text-transform: uppercase;
            font-family: "Helvetica Neue";
            color: $base-dark-blue;
            padding-left: 60px;
        }
    }

    .introductory__pickup {
        display: flex;
        align-items: center;
        position: absolute;
        top: 639px;
        right: 410px;

        .ip__icon {
        width: 71.64px;
        height: 71.64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-dark-blue;
        border-radius: 50%;

        @include arrowSVG;
        }

        .ip__links {
            display: flex;
            flex-direction: column;
            gap: 9.4px;
            margin-left: 15.6px;
        }

        .ip__scroll {
            position: absolute;
            top: 231px;
            left: 506px;
            width: 100px;
            & > a {
                font-family: "Helvetica Neue Light";
                color: $black;
                text-decoration: none;
            }
        }
    }
}


.company__strength {
    .cs__1 {
        display: flex;
        justify-content: space-between;
        margin-left: 86.7px;

        .cs__line {
            width: 592.6px;
        }
        &--text {
            display: flex;
            flex-direction: column;
            flex-grow: 4;
            font-size: 55px;
            font-family: "Yu Gothic StdN";
            height: 97.9px;

            span:first-child {
                margin-bottom: 73.7px;
            }

            span:nth-child(2) {
                font-size: 26px;
                border-top: 1px solid $base-dark-blue;
                padding-top: 48.8px;
                margin-left: 38.4px;
            }
            
            span:nth-child(3) {
                display: flex;
                justify-self: center;
                align-items: center;
                gap: 21.4px;
                width: 150.5px;
                height: 38.62px;
                margin-top: 27.3px;
                margin-left: 124.3px;
                font-family: "HelveticaNeue Medium";
                font-size: 12px;
                letter-spacing: 2px;

               .ip__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38.62px;
                height: 38.62px;
                background-color: $base-dark-blue;
                border-radius: 50%;

                    svg {
                        width: 6.24px;
                        height: 16.21px;
		                filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(298deg) brightness(108%) contrast(101%);
                    }
               }
            }
        }
        &--box {
            width: 683.97px;
            height: 416.98px;
            background-color: $gray-color-box;
        }
    }

    .cs__2 {
        display: flex;
        align-items: center;
        .cs__1--box {
            @include rectangle;
        }
    }
}

.cs__container {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    align-self: flex-end;
    
    .cs__intro {
        margin: 0 auto;
        width: 677.4px;
        font-size: 63px;
        font-family: "Helvetica Neue";
        color: $base-dark-blue;

        .x {
            font-family: "Kozuka Gothic Pr6N";
            font-size: 62px;
        }
    }

    .cs__orange-box {
        display: flex;
        align-items: center;
        position: relative;
        right: 50px;
        width: 104%;
        height: 40.17px;
        background-color: $orange-line;

        & > span {
            display: inline-block;
            margin: 9.3px 0 13.9px 86.2px;
            font-size: 13px;
            color: $white;
            font-family: "Kozuka Gothic Pr6N";
            letter-spacing: 2px;
        }
    }

    .cs__text {
        display: flex;
        flex-direction: column;
        margin-top: 26.1px;
        margin-left: 49.9px;

        span:first-child {
            margin-bottom: 11.5px;
        }

        & > span {
            letter-spacing: 2px;
            font-size: 16px;
            font-family: "Yu Gothic Light";
        }
        
    }
} 


.cs__3 {
    display: flex;
    margin-top: 139.3px;

    .cs__container  {
        .cs__intro {
            text-align: center;
        }
        .cs__orange-box {
            left: 3px;
            justify-content: end;

            span {
                margin-right: 120.1px;
            }

        }

        .cs__text {
            align-self: end;

            span:nth-child(2) {
                line-height: 28px;
            }
        }
    }


    .cs__1--box {
        width: 599.13px;
        height: 175.89px;
        margin-right: 86.4px;
    }
}

.cs__4 {
    display: flex;
    margin-top: 121.9px;

    .cs__1--box {
        width: 599.13px;
        height: 175.89px;
        margin-left: 125.1px;
    }
}

.cs__5 {
    display: flex;
    flex-direction: column;
    margin-left: 123.4px;
    margin-top: 97.4px;
    font-family: "Yu Gothic Light";
    line-height: 27px;
    letter-spacing: 2px;
}

.company__showcase {
    display: flex;
    height: 924.98px;
    margin-top: 101.7px;
    margin-right: 85px;
    background-color: rgba(142, 145, 158, .7);

    .showcase__main {
        width: 577px;
        margin-left: 132.2px;
        margin-top: 56px;

        span:first-child {
            font-size: 16px;
        }
        
        h3 {
            font-size: 55px;
            font-family: "Yu Gothic Light";
            letter-spacing: 10px;
        }

        &__title {
            width: 90%;
            border-bottom: 1px solid $black;
        }

        &__btn {
            margin-top: 53.6px;
            display: flex;
            align-items: center;
            gap: 31.4px;
            font-family: 'Helvetica Neue Light';

            span {
                letter-spacing: 2px;
            }
            
            .ip__icon {
                display: flex;
                width: 38.62px;
                height: 38.62px;
                align-items: center;
                justify-content: center;
                background-color: $base-dark-blue;
                border-radius: 50%;
            }

            svg {
                width: 6.24px;
                height: 16.21px;
		        overflow: hidden;
                filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(298deg) brightness(108%) contrast(101%);
            }
        }

        &__50th {
            margin-top: 100px;
            img {
                width: 100%;
                box-shadow: 3px 3px 1px rgba(142, 145, 158, 1);
            }
        }
    }

    .showcase__list {
        width: 577px;
        margin-top: 143.1px;
        margin-left: 196px;
        font-size: 19px;

        ul > li {
            margin-bottom: 105.2px;
            font-family: "Yu Gothic StdN";
            letter-spacing: 3px;
         
        }

        ul >li:not(:last-child) {
            display: block;
            border-bottom: solid 1px $white;
            padding-bottom: 54px;
        }
    };
}

.company__access {
    margin-top: 109.6px;
    margin-left: 123.2px;
    
    h2 {
        margin-bottom: 39.5px;
        font-size: 16px;
    }

    div:first-child {
        margin-bottom: 96.1px;
    }

    .access__showcase {
        display: flex;
        gap: 126.2px;

        &--box {
            width: 561.39px;
            height: 277.31px;
            background-color: $gray-color-box;
        }

        &--info {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 50%;
            transform: translateY(26%);
            line-height: 25px;

            & > span {
            font-size: 19px;
            font-family: "Yu Gothic StdN";
            }
        }
    }

}

.top-text-area {
    width: 100%;
    height: 100vh;
    background-color: $white;

    .p-top-text {
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100vh;
        z-index: 15;
        p {
            font-size: 155px;
            text-transform: uppercase;
            font-family: "Helvetica Neue";
            color: $white;
        }
        p:first-child {
            transform: translate(120%, 0px);
    
        }
        p:nth-child(2) {
            transform: translate(-120%, 0px);
        }
    }
}

.transform__origin {
    transform-origin: center;
}

.moveup{
    display: flex;
    justify-content: flex-end;
        .ip__icon {
        width: 38.62px;
        height: 38.62px;
        top: -5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-dark-blue;
        border-radius: 50%;
        margin-right: 70px;
        margin-bottom: 31.6px;
        margin-top: 141.7px;


        svg {
            transform: rotate(270deg);
            width: 10.68px;
            height: 15.546px;
            filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(298deg) brightness(108%) contrast(101%);
        }
    }
}

footer {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #13223D;
    border-bottom: 1px solid #13223D;
    font-size: 17px ;
    width: 1300.64px;
    margin-left: 89px;
            .main__header{
            padding-left: 1rem;}

}

footer > .main__header > .header__navigation {
    left: 0;
}

.end{
    margin-left: 85px;
    margin-top: 47.6px;
    margin-bottom: 49.4px;
    p{
        margin-left: 66px;
        font-size: 16px;
    }
    a{
        margin-left: 66px;
        font-size: 63px; 
        line-height: 40px; 
        font-weight: 600; 
        border-bottom: 1px solid #13223D;
    }
    .foottag {
        li{
            color: $white;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $base-dark-blue;
            border-radius: 50%;
            width: 92.6px;
            height:92.6px;
            margin-left: 37.1px;
        }
    }
}

.ip__icon:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

li.aside-anchor:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .no__display__big {
      display: none;
  }

@media screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) {
    nav.header__navigation {
        display: none;
    }

    .aside-right .col-right {
        opacity: 0;
    }

    .no__display__big {
        display: list-item;
    }

    .company__introductory .company__name h1 {
        font-size: 70px;
        display: flex;
        flex-direction: column;
    }

    .company__introductory .company__name {
        top: 374px;
    }

    .company__introductory {
        padding-top: 53.4px;
    }
    aside .aside-right {
        width: 100vh;
    }

    .company__introductory > img  {
        width: 60%;
    }

    .company__title {
        .nexus {
            position: relative;
            bottom: 168px;
            right: 98px;
        }
        .zoom__point {
            position: relative;
            bottom: 144px;
            left: -37px;
        }
        .nestle {
            position: relative;
            left: 28px;
            bottom: 125px;    
        }
    }

    .company__introductory .introductory__pickup {
        top: 450px;
        right: 107px;
        margin-left: 20px;
    }

    .company__introductory .introductory__pickup .ip__icon {
        width: 50.64px;
        height: 50.64px;
    }

    .company__introductory .introductory__pickup .ip__icon svg {
        margin-right: -1.4px;
    }

    .ip__links p {
        font-size: 15px;
    }

    .company__strength .cs__1 {
        flex-direction: column-reverse;
        margin-left: 0;
    }
    
    .company__strength .cs__1--box {
        height: 236px;
    }

    .company__strength .cs__1--text > span:first-child {
        font-size: 30px;
        margin-top: 42px;
        margin-bottom: 20.7px;
    }

    .company__strength .cs__1--text span:nth-child(2) {
        padding-top: 30.8px;
        margin-left: 15.4px;
    }

    .company__strength .cs__2 .cs__1--box {
        width: 95%;
    }

    .company__strength .cs__1--text span:nth-child(3) {
        margin-left: 29.3px;
    }
    
    .company__strength .cs__2 {
        display: block;
        margin-top: 190px;
    }

    .company__strength .cs__2 .cs__1--box {
        margin: 0;
    }

    .cs__container {
        position: relative;
        top: -89px;

        .cs__intro {
            font-size: 38px;
        }
    }

    #smallerX {
        font-size: 38px;
    }

    .cs__container .cs__orange-box {
        width: 113%;
    }

    .cs__container .cs__text {
        margin-top: 27.1px;
        margin-left: 13.9px;
    }

    .cs__3 {
        margin-top: -20.7px;
        display: flex;
        flex-direction: column-reverse;

        .cs__1--box {
            margin-left: 21px;
        }
    }

    .cs__3 .cs__container .cs__intro {
        width: 94%;
        text-align: right;
    }

    .cs__3 .cs__container .cs__orange-box {
        left: 0;
    }

    .cs__3 .cs__container .cs__orange-box span {
        margin-right: 55.1px;
    }

    .cs__3 .cs__container .cs__text {
        display: block;
        margin-left: 57.9px;
    }
    .cs__4 {
        margin-top: -20.7px;
        flex-direction: column;

        .cs__container .cs__intro {
            width: 100%;
        }
    }

    .cs__4 .cs__1--box {
        width: 95%;
        margin-left: 0;
    }

    .cs__5 {
        margin-left: 13px;
        margin-top: 0;
    }

    .company__showcase {
        margin-right: 0;
        flex-direction: column;
    }

    .company__showcase {
        height: unset;
    }

    .company__showcase .showcase__main {
        width: 100%;
        margin-left: 10px;
        margin-top: 39px;
    }

    .company__showcase .showcase__main__50th {
        margin-top: 46px;
    }
    
    .company__showcase .showcase__main__50th img {
        width: 91%;
    }

    .company__showcase .showcase__list {
        margin-left: unset;
    }

    .company__access {
        margin-left: unset;
    }

    .company__showcase .showcase__list ul > li {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .company__access h2 {
        margin-left: 20px;
        font-weight: bold;
        font-size: 23px;
    }

    .company__access  .access__showcase {
        flex-direction: column;
        gap: unset;
        align-items: center;
    }

    .company__access div:first-child {
        margin-bottom: unset;
        width: 90%;
        margin-bottom: 23px;
    }

    .company__access .access__showcase--info {
        transform: unset;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 33px;
        line-height: 34px;
        font-weight: bold;
    }

    // footer

    footer {
        width: 100%;
        justify-content: unset;
        margin-left: unset;
    }

    footer > .main__header > .header__navigation {
        display: block;
    }
    
    footer .main__header {
        height: unset;
    }

    .main__header .header__navigation ul {
        display: grid;
        gap: unset;
        grid-template-columns: 1fr 1fr;
        row-gap: 52px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .end {
        flex-direction: column;
        margin-left: unset;
        gap: 20px;
    }

    .end p {
        margin-left: 17px;
        margin-bottom: 62px;
    }

    .end a {
        margin-left: 17px;
    }

    .foottag {
        margin-top: 35px;
    }

    .footer__company__name {
        p {
            display: none;
        }
    }

    .nav-burger-foottag {
        display: none;
    }
}