@import './utilities/mixin';
@import './utilities/variables';
@import './utilities/fonts_face';

.nav-burger {
    margin-top: 25px;
}

aside {
    z-index: 11;
}

.aside-section {
    top: 0;
    bottom: 0;
    position: absolute;
  }
  
  .aside-left {
    display: none;
    width: 53%;
    height: 100vh;
    left: 0;
    position: fixed;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    background-image: url('../../assets/creative.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .aside-content {
      width: 65%;
      top: 168px;

      h1 {
        font-size: 50px;
        font-family: "SofiaProBlackCondensed";
        color: $white;
        display: flex;
        flex-direction: column;
        letter-spacing: 54px;
        
        .new {
          margin-right: 235px;
        }
        .natural {
          margin-left: 112px;
        }

        span:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  
  .aside-right {
    display: flex;
    justify-content: center;
    gap: 75px;
    width: 47%;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: $white;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    ul {
        margin-bottom: 10px;
        li {
            font-family: "SofiaProBlackCondensed";
            text-transform: uppercase;
        }
    }

    .col-right  {
        display: flex;
        flex-direction: column;

        .footer {
          width: 100%;
          position: absolute;
          bottom: 0;
          right: 42px;

          .end {
            margin-bottom: 49.4px;
          }

          .footer__company__name {
            align-self: center;
            p {
              font-weight: 500;
              color: #909090;
              font-size: 1rem;
              line-height: 1;
              text-transform: uppercase;
            }
          }
        }
    }
  }
  
  .aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 150px;
    text-align: left;
    padding-left: 50px;
  }
  
  .aside-content {
    margin-top: 150px;
    padding: 0 40px;
    position: relative;
    color: white;
    text-align: center;

    img {
        position: absolute;
        left: 37px;
        bottom: 132px;
    }
  }
  
  .aside-list li {
    margin-bottom: 20px;
  }
  
  .aside-anchor::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: $white;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
  }
  
  .aside-anchor::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    left: 0;
    height: 3px;
    z-index: 1;
    width: 50%;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
  }
  
  .aside-anchor:hover:before {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  .aside-anchor {
    padding-bottom: 7px;
    color: $base-dark-blue;
    text-decoration: none;
    font-size: 50px;
    position: relative;
    font-weight: 500;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ aside .aside-left {
    transform: translateY(0%);
  }
  
  input[type="checkbox"]:checked ~ aside .aside-right {
    transform: translateX(0%);
  }
  
  input[type="checkbox"]:checked ~ label .bar {
    background-color: #38618c;
  }
  
  input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }
  
  input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  
  .middle {
    margin: 0 auto;
  }
  
  label {
    top: 10px;
    right: 0;
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 12;
    position: fixed;
  }
  
  .bar {
    display: block;
    background-color: #38618c;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color 0.4s ease-in, transform 0.4s ease-in,
      width 0.4s ease-in;
  }
  
  
  p {
    font-size: 30px;
  }
  
  .button {
    display: inline-block;
    background-image: none;
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 7px 50px;
    border: 2px solid white;
  }
  
  @media (min-width: 992px) {
    h1 {
      font-size: 40px;
    }
    .aside-left {
      display: block;
    }
  
    .aside-right {
      width: 60%;
    }
  }


.aside-list > li:hover {
      animation: bounce; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s;
      animation-iteration-count: infinite;
}

